<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talhajavedmukhtar.ferret">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinalSurvey"></activity>
        <activity android:name=".First_Survey_Comp" />
        <activity android:name=".Experience" />
        <activity android:name=".SmartDevice" />
        <activity android:name=".TechSurvey" />
        <activity android:name=".Demographic" />
        <activity android:name=".DataCollectionActivity" />
        <activity android:name=".InitialSurveyActivity" />
        <activity android:name=".InitialSurveyWebviewActivity" />
        <activity android:name=".SecretKeyActivity" />
        <activity android:name=".LabellingActivity" />
        <activity android:name=".InstructionsActivity" />
        <activity android:name=".HelpActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PortScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NameActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WhereActivity" />
        <activity android:name=".MacNotFoundActivity" />
        <activity android:name=".ThankYouActivity" />
        <activity android:name=".FinalSurveyActivity" />
        <activity android:name=".FinalSurveyWebviewActivity" />
        <activity android:name=".HostDataActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>